<%- model_class = Bike -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="bikes table table-striped">
  <thead>
    <tr>
      <th>Bike #</th>
      <th>Color</th>
      <th>Checked out?</th>
      <% if current_user.admin? %>
        <th>Location</th>
        <th>Notes</th>
      <% end %>
      <th><!-- checkin / checkout action links --></th>
    </tr>
  </thead>
  <tbody>
    <% @bikes.each do |bike| %>
      <%= render partial: 'row', locals: { bike: bike } %>
    <% end %>
  </tbody>
</table>
