<h1>Listing locations</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Bikes out / total</th>
    </tr>
  </thead>
  <tbody>
<% @locations.each do |location| %>
  <tr>
    <td>
      <%= link_to location.name, location %> <%= link_to "(map)", "http://maps.google.com/?q=#{location.latlong}" %>
    </td>
    <td><%= link_to "#{location.bikes.checked_out.count} / #{location.bikes.count}", location_checkouts_path(location) %></td>
  </tr>
<% end %>
  </tbody>
</table>

<br />
